<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Burgers Homework</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="/assets/css/burger_style.css">
</head>
<body>

<div class="container">
    <!--Main Burger image-->
    <div class="row">
        <div class="col-lg">
            <img src="/assets/img/445x327-Lucy-Burger-1.png" class="center-block">
        </div>
    </div>

    <!--Title of page-->
    <div class="row">
        <h1 class="center-block"> Welcome to good burger may I take your order</h1>
    </div>

    <!--Burger info coming from index.Handle bars -->
    <br>


    {{{this.body}}}

    <br>

    <form action="burger/create" method="POST">

    </form>
</div>


</body>
</html>